/* General */
body {
  margin: 0;
  /*font-family: "Montserrat", sans-serif;*/
  font-size: 25px;
  color: #333;
  line-height: 1.6;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

img {
  height: inherit;
}

.container {
  width: 100%;
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
}

/* Widget */
.weather-container {
  display: flex;
  align-items: center;
  justify-content: start;
}

.intro {
  width: 100%;
  height: 100vh;
  background: url(/static/img/xoroshaya-pogoda-na-prirode-pod-otkrytym-nebom.jpg)
    center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

/* Header */
header {
  position: fixed;
  top: 0;
  height: 75px;
  width: 100vw;
  background-color: white;
  box-shadow: -1px 2px 9px rgb(0 0 0 / 50%);
}

.nav__link {
  display: inline-block;
  vertical-align: top;
  margin: 0 10px;
  position: relative;
  color: black;
  text-decoration: none;
  transition: color 0.2s linear;
}

.nav__link:hover {
  color: red;
}

.nav__link:after {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  background-color: red;
  top: 100%;
  left: 0;
  z-index: 1;
  display: none;
}

.nav__link:hover:after {
  display: block;
}

.header__inner {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 50px;
}

.header-img {
    height: 100%;
}

.header__title {
    width: 100%;
}

.header__nav {
    flex-shrink: 0;
    font-size: 16px;
    text-transform: uppercase;
}